@page
@model ContactsManagementApp.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "Удалить сотрудника";
}

<h1>Удалить сотрудника?</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Position.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.ContactId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">Назад</a>
    </form>
</div>
