@page
@model ContactsManagementApp.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Сотрудник";
}

<h1>Сотрудник</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Department.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Position.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Contact.ContactId">Изменить</a>
    <a class="btn btn-primary" asp-page="./Index">Назад</a>
</div>
